* {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin-inline: 1em;
  height: 100%;
  background-color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 1500px) {
  body {
    margin-inline: 10em;
  }
}

/************ 
FOOTER STYLES
************/
.footer-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-title {
  margin-bottom: 2em;
}

.footer-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  width: fit-content;
  font-size: small;
}

.footer-list {
  margin: 0;padding: 0;
  margin-right: 8em;
  list-style-type: none;
}
.footer-list-title {
  margin: 0;
}
.footer-list-link {
  margin-block: 1.5em;
  color: rgb(133, 133, 133);
  font-weight: bold;
}
.copyright-info {
  color: rgb(80, 80, 80);
}

@media (min-width: 950px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-lists {
    display: flex;
    gap: 6em;
  }
}

@media (min-width: 1100px) {
  .footer-container {
    flex-direction: row;
  }
  .footer-list {
    margin: 0;
  }
}

/************
HEADER STYLES 
************/
.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
}

.crypto-header-container {
  display: flex;
  text-align: end;
  justify-content: space-between;
  place-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
  padding: 1em;
}

.crypto-header-name-and-rank {
  display: flex;
  place-items: center;
  gap: 2em;
  min-width: 17em;
}

.crypto-header-price {
  min-width: 5em;
}
.crypto-header-market-cap {
  min-width: 9em;
}
.crypto-header-volume{
  min-width: 8.5em;
}

.crypto-header-circulating-supply {
  min-width: 13.5em;
}


/**********
BODY STYLES 
**********/
.crypto-currency-container {
  text-align: end;
  display: flex;
  justify-content: space-between;
  place-items: center;
  height: 4em;
  padding-inline: 1em;
  border-top: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
  font-weight: 600;
  overflow-x: hidden;
}
.crypto-currency-container:hover {
  background-color: rgb(230, 242, 255);
}

.currency-name-and-rank {
  display: flex;
  gap: 2em;
  min-width: 17em;
  /* background-color: blue; */
}
.currency-logo {
  height: 1.5em;
}
.currency-full-name {
  color: black;
  text-decoration: none;
}
.currency-names {
  display: flex;
  gap: .5em;
}
.currency-acronym {
  color: rgb(145, 145, 145);
}
.currency-price {
  min-width: 5em;
  /* background-color: red; */
}
.currency-market-cap {
  min-width: 9em;
  /* background-color: green; */
}
.currency-volume{
  min-width: 8.5em;
  /* background-color: red; */
}
.currency-circulating-supply-info {
  min-width: 13.5em;
  /* background-color: aqua; */
}
.currency-circulating-supply-acronym {
  margin-left: .3em;
  color: rgb(143, 143, 143);
}

/****************** 
DETAILS PAGE STYLES
******************/

/*main grid: FLEX layout
  section 1: FLEX column layout
  section 2: FLEX column layout
  section 3: FLEX column layout
  */

.details-page-container {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* DETAILED NAME*/
.detailed-name-container {
  /* background-color: blue; */
  padding-block: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.detailed-name-and-logo {
  display: flex;
  align-items: center;
  gap: .8em;
}

.detailed-name-logo {
  height: 2.5em;
}

.detailed-name-acronym {
  padding-inline: 0.5em;
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  color: rgb(52, 52, 52);
  font-size: .9em;
}

.detailed-name-rank {
  padding: .3em;
  padding-block: .2em;
  border-radius: 5px;
  background-color: rgb(110, 110, 110);
  font-size: small;
  color: white;
  width: fit-content;
}

/* DETAILED PRICE*/
.detailed-price-container {
  background-color: red;
  height: 6em;
}

/* DETAILED INFO*/
.detailed-info-container {
  /* background-color: green; */
  /* height: 22em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.detailed-info-wrapper {
  width: 100%;
}

.detailed-info {
  display: flex;
  justify-content: space-between;

  /* background-color: #fff; */
  border-top: 1px solid rgba(173, 168, 168, 0.515);

  width: 100%;
  padding-block: 1.75em;
}
.detailed-info-name {
  color: rgb(37, 37, 37);
  font-size: medium;
}
.detailed-info-value {
  font-weight: bold;
  font-size: large;
}

.detailed-additional-info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: .9em;
}
.detailed-additional-info-name {
  color: rgb(102, 102, 102);
  font-weight: 500;
}
.detailed-additional-info-value {
  font-weight: bold;
}

@media (min-width:800px) { 
  /*main grid: 2x2 GRID layout
  section 1: FLEX column layout
  section 2: FLEX column layout
  section 3: 2x3 GRID layout with 4 subsections: subsection 4 SPAN 3
  */
  .details-page-container {
    /* background-color: aqua; */
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
    }
    
    /*DETAILED INFO STYLES*/
    .detailed-info-container {
      grid-column: 1/3;
    }
    .detailed-info-container {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(2,auto);
    }
    .detailed-info-wrapper:last-child {
      grid-column: 1/4;
    }
    .detailed-info {
      display: flex;
      flex-direction: column;
      gap: .5em;
      padding-block: 1.5em;
    }
  }

  @media (min-width:1000px) { 
    /*main grid: 2x2 GRID layout
    section 1: FLEX column layout
    section 2: FLEX column layout
    section 3: FLEX column layout OR 4 COLUMN GRID layout - GRID SPAN 2
    */
    .details-page-container {
      /* background-color: violet; */
    }

    /* detailed info */
    .detailed-info-container{
      /* border: 1px solid green;
      display: grid;
      grid-template-columns: repeat(4,1fr); */
      display: flex;
      flex-direction: row;
    }
    .detailed-info-wrapper{
      /* border: 1px solid blue; */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2em;
      padding: 0;
      height: 100%;
    }
    .detailed-info-wrapper:last-child{
      grid-column: auto;
    }
    .detailed-info {
      padding: 0;
    }
  }
  
  @media (min-width:1375px) {
    /*main grid: 3x3 GRID layout
    section 1: FLEX column layout - GRID SPAN 1/4
    section 2: FLEX column layout - GRID SPAN 2
    section 3: FLEX column layout OR 4 COLUMN GRID layout - GRID SPAN 2
    */
    .details-page-container {
      /* background-color: greenyellow; */
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(2, auto);
    }
  
    .detailed-name-container {
      height: 100%; 
      grid-row: 1/3;
    }
    .detailed-info-container {
      grid-column: 2/4;
    }
    .detailed-price-container {
      grid-column: 2/4;
    }
  }